* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.big-box {
  width: calc(100vw - 17px);
  height: 100vh;
  min-width: 600px;
  background-color: #D7D7D7;
}

.content-container {
  width: 100%;
  height: 100%;
}

.content-headline {
  position: absolute;
  border-bottom: 2px solid black;
  height: 5vw;
  padding: 0 8%;
  top: 7%;
  font-size: 2.3vw;
  font-weight: bolder;
}