@-webkit-keyframes border-animation {
  0% {
    border-top: solid;
  }
  25% {
    border-top: solid;
    border-right: solid;
  }
  50% {
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
  }
  100% {
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    border-left: solid;
  }
}
@keyframes border-animation {
  0% {
    border-top: solid;
  }
  25% {
    border-top: solid;
    border-right: solid;
  }
  50% {
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
  }
  100% {
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    border-left: solid;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.big-box {
  width: calc(100vw - 17px);
  height: 100vh;
  background-color: #D7D7D7;
}

.content-container {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1300px) {
  #nav-bar {
    width: 580px;
  }
  #landingpage #text-container h1 {
    font-size: 75px;
    font-size: 4vw;
  }
  #landingpage #text-container h2 {
    font-size: 60px;
    font-size: 3.1vw;
  }
  #landingpage #text-container h3 {
    font-size: 50px;
    font-size: 2.6vw;
  }
  #landingpage #text-container h4 {
    font-size: 32px;
    font-size: 1.68vw;
  }
  #landingpage #personal-img-container {
    width: min(68%, 650px);
    padding: calc(min(68%, 650px) / 2) 0;
  }
}
header {
  position: absolute;
  right: 90px;
  top: 50px;
  z-index: 100;
}
header #nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header #nav-bar a {
  padding: 10px 25px;
  font-weight: bolder;
  font-size: 23px;
  cursor: pointer;
}
header #nav-bar a:last-of-type {
  border: solid;
  border-radius: 50px;
}
header #nav-bar a:last-of-type:hover {
  background-color: aliceblue;
}

#landingpage {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  position: relative;
  min-height: 660px;
}
#landingpage section {
  z-index: 4;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#landingpage section #text-container {
  display: grid;
  grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#landingpage section #text-container h1 {
  font-weight: bolder;
  margin-left: 2%;
}
#landingpage section #text-container #inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#landingpage section #text-container #inner #rotated {
  width: 12%;
}
#landingpage section #text-container #inner #rotated h2 {
  text-align: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 38%;
}
#landingpage section #text-container #inner #name {
  margin-top: -0.5%;
}
#landingpage section #text-container #inner #name h4 {
  font-weight: lighter;
  margin-top: -0.5%;
}
#landingpage aside {
  z-index: 4;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#landingpage aside #personal-img-container {
  background-color: white;
  border: 10px solid black;
  border-radius: 50%;
  /* $picture-width: 70%;
  width: $picture-width;
  padding: calc($picture-width / 2) 0; */
  height: 0;
  margin-left: 8vw;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#landingpage aside #personal-img-container img {
  height: auto;
  width: 65%;
  position: absolute;
  bottom: 0;
}
#landingpage #line {
  left: 0;
  top: 10%;
  width: 100vw;
  height: 85vh;
  min-height: 426px;
  position: absolute;
  z-index: 2;
}