@-webkit-keyframes border-animation {
  0% {
    border-top: solid;
  }
  25% {
    border-top: solid;
    border-right: solid;
  }
  50% {
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
  }
  100% {
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    border-left: solid;
  }
}
@keyframes border-animation {
  0% {
    border-top: solid;
  }
  25% {
    border-top: solid;
    border-right: solid;
  }
  50% {
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
  }
  100% {
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    border-left: solid;
  }
}
@media only screen and (min-width: 1300px) {
  #nav-bar {
    width: 580px;
  }
  #landingpage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #landingpage section {
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #landingpage section #text-container h1 {
    font-size: 75px;
    font-size: clamp(65px, 4vw, 85px);
  }
  #landingpage section #text-container h2 {
    font-size: 60px;
    font-size: clamp(50px, 3.1vw, 70px);
  }
  #landingpage section #text-container h3 {
    font-size: 50px;
    font-size: clamp(40px, 2.6vw, 60px);
  }
  #landingpage section #text-container h4 {
    font-size: 32px;
    font-size: clamp(28px, 1.68vw, 42px);
  }
  #landingpage aside {
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #landingpage aside #personal-img-container {
    width: min(68%, 650px);
    padding: calc(min(68%, 650px) / 2) 0;
  }
  #landingpage #line {
    width: 100%;
    height: 83vh;
  }
}
@media only screen and (max-width: 1299px) {
  #landingpage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  #landingpage section {
    width: 100%;
    grid-area: 1/1/2/2;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-bottom: -20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #landingpage section #landing-main-content {
    margin-left: 10%;
    margin-top: 10%;
  }
  #landingpage section #landing-main-content #text-container h1 {
    font-size: 75px;
    font-size: clamp(65px, 4vw, 85px);
  }
  #landingpage section #landing-main-content #text-container h2 {
    font-size: 60px;
    font-size: clamp(50px, 3.1vw, 70px);
  }
  #landingpage section #landing-main-content #text-container h3 {
    font-size: 50px;
    font-size: clamp(40px, 2.6vw, 60px);
  }
  #landingpage section #landing-main-content #text-container h4 {
    font-size: 32px;
    font-size: clamp(28px, 1.68vw, 42px);
  }
  #landingpage aside {
    width: 100%;
    grid-area: 2/1/3/2;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
}
@media only screen and (max-width: 1299px) and (min-width: 650px) {
  #landingpage aside {
    margin-top: -10%;
    margin-left: 2%;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: end !important;
  }
  #landingpage aside #personal-img-container {
    margin-right: 10%;
    width: min(50%, 470px);
    padding: calc(min(50%, 470px) / 2) 0;
  }
}
@media only screen and (max-width: 1299px) and (max-width: 650px) {
  #landingpage aside {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #landingpage aside #personal-img-container {
    margin-top: 5%;
    width: min(59%, 600px);
    padding: calc(min(59%, 600px) / 2) 0;
  }
}
@media only screen and (max-width: 1299px) {
  #line {
    width: 176%;
    height: 83vh;
  }
}
header {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  min-width: 600px;
}
header #nav-bar {
  margin-top: max(30px, 2%);
  margin-right: 5%;
  /* right: 5%;
  top: 3.5%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header #nav-bar a {
  padding: 10px 25px;
  font-weight: bolder;
  font-size: 23px;
  cursor: pointer;
}
header #nav-bar a:last-of-type {
  border: solid;
  border-radius: 50px;
}
header #nav-bar a:last-of-type:hover {
  background-color: aliceblue;
}

#landingpage {
  z-index: 3;
  overflow-x: hidden;
  position: relative;
  min-height: 900px;
}
#landingpage section {
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#landingpage section #landing-main-content {
  display: grid;
}
#landingpage section #landing-main-content #text-container {
  display: grid;
  grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#landingpage section #landing-main-content #text-container h1 {
  font-weight: bolder;
  margin-left: 2%;
}
#landingpage section #landing-main-content #text-container #inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#landingpage section #landing-main-content #text-container #inner #rotated {
  width: 12%;
}
#landingpage section #landing-main-content #text-container #inner #rotated h2 {
  text-align: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 38%;
}
#landingpage section #landing-main-content #text-container #inner #name {
  margin-top: -0.5%;
}
#landingpage section #landing-main-content #text-container #inner #name h4 {
  font-weight: lighter;
  margin-top: -0.5%;
}
#landingpage section #landing-main-content #landing-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 10%;
  margin-left: 2.5%;
}
#landingpage section #landing-main-content #landing-icons .landing-icon {
  width: clamp(50px, 3vw, 70px);
  height: clamp(50px, 3vw, 70px);
  -webkit-box-shadow: 0px 0.25vw 0.25vw rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0.25vw 0.25vw rgba(0, 0, 0, 0.25);
  background-color: #C4C4C4;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
#landingpage section #landing-main-content #landing-icons .landing-icon:hover {
  background-color: #a5a3a3;
}
#landingpage section #landing-main-content #landing-icons .landing-icon img {
  /* width: 1.8vw; */
  width: calc(clamp(50px, 3vw, 70px) / 1.666);
  height: auto;
}
#landingpage aside {
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#landingpage aside #personal-img-container {
  background-color: white;
  border: 10px solid black;
  border-radius: 50%;
  /* $picture-width: 70%;
  width: $picture-width;
  padding: calc($picture-width / 2) 0; */
  height: 0;
  margin-left: 8vw;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#landingpage aside #personal-img-container img {
  height: auto;
  width: 65%;
  position: absolute;
  bottom: 0;
}
#landingpage #line {
  left: 0;
  top: 12%;
  min-height: 750px;
  position: absolute;
  z-index: 2;
}