#project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48.3vw;
  max-height: 100vh;
  min-height: 500px;
}
#project-container #project-show-container {
  width: 50%;
  height: 60%;
  height: 28vw;
  max-height: 540px;
  min-height: 204px;
  max-width: 960px;
  min-width: 356px;
  /* margin-top: 7vw; */
  margin-top: 100px;
}
#project-container #project-show-container #project-title-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#project-container #project-show-container #project-title-container h2 {
  text-align: center;
  font-size: 25px;
  font-size: clamp(12px, 1.35vw, 25px);
  font-weight: 400;
  margin: 0 clamp(12px, 1.35vw, 30px);
}
#project-container #project-show-container #project-title-container img {
  width: 5vw;
  min-width: 50px;
  max-width: 130px;
}
#project-container #project-show-container #project-show {
  cursor: pointer;
  border: solid;
  width: 100%;
  height: 90%;
  background-color: black;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#project-container #project-show-container #project-show img {
  /* width: 100%; */
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}
#project-container #project-show-container #slider-container {
  margin-top: 25px;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#project-container #project-show-container #slider-container #slider {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 30px;
  width: 24%;
}
#project-container #project-show-container #slider-container #slider .slider-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
#project-container #project-show-container #slider-container #slider .slider-item-container .slider-item {
  border: 2px solid black;
  border-radius: 100px;
  /* width: calc($size /2);
  height: $size; */
  height: 50%;
  width: 0;
  padding: 25%;
  background-color: transparent;
}
#project-container #project-show-container #slider-container #slider .slider-item-container .selected {
  background-color: black;
}