$default-background: #D7D7D7;
$default-icon-background: #C4C4C4;
$default-icon-background-hover: #a5a3a3;


$scrollbar-width: 17px;
$full-side-width: calc(100vw - $scrollbar-width );
$full-side-height: 100vh;
$min-width: 600px;

$landingpage-min-height: 900px;


$line-default-height: 83vh;
