@media only screen and (min-width: 1300px) {
    #skill-box {
        height: 1000px;
        #skill-container {
            #skillset {
                margin-top: 5%;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 70px;
                grid-row-gap: 90px;

                .skill-icon:nth-of-type(9) {
                    grid-column: 2;
                }
                .skill-icon:nth-of-type(10) {
                    grid-column: 3;
                }
            }
        }
    }
}

@media only screen and (max-width: 1299px) {
    #skill-box {
        height: 1150px;
        #skill-container {
            #skillset {
                margin-top: -10%;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-column-gap: 70px;
                grid-row-gap: 90px;
            }
        }
    }
}

#skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    #skillset {
        display: grid;
        height: 50%;

        .skill-icon {
            display: grid;
            text-align: center;
            place-items: center;

            img {
                max-height: 100px;
                max-width: 85px;
            }

            h2 {
                font-weight: 100;
                margin-top: 15%;
                font-family: "Gill Sans", "Gill Sans MT", Calibri,
                    "Trebuchet MS", sans-serif;
            }
        }
    }
}
