#quote3-container{
    display: flex;
    justify-content: center;
    align-items: center;


    #quote3{
        position: relative;
        width: 38vw;
        min-width: 230px; 
        max-width: 730px; 
        height: auto;
        
        img{
            width: 100%;
            height: 100%;
        }

        h1{
            top: 23%;
            left: 4.5%;
        }

        h2{
            top: 43%;
            right: 1%;
        }

        h3{
            bottom:  10%;
            left: 17%;
        }

        .text-part{
            position: absolute;
            text-align: center;
            font-size: clamp(15px, 2.3vw, 44px);
        }
    }
}