#quote1-container{
    display: flex;
    justify-content: center;
    align-items: center;

    #quote1{    
        position: relative;
        $distance: -28.5%;
        $jumps: 45%;

        .part{
            font-size: clamp(20px, 2.1vw, 40px);
            position: absolute;
            
            

            &:first-of-type{
                top: 20.5%;
            }
    
            &:last-of-type{
                top: 43.5%;
            }
        }

        .animation-state{
            &-100{
                &:first-of-type{
                    right: $distance;
                }

                &:last-of-type{
                    left: $distance;
                }
            }
            
            &-80{
                &:first-of-type{
                    right: calc($distance - $jumps * 1);
                }

                &:last-of-type{
                    left: calc($distance - $jumps * 1);
                }
            }

            &-60{
                &:first-of-type{
                    right: calc($distance - $jumps * 2);
                }

                &:last-of-type{
                    left: calc($distance - $jumps * 2);
                }
            }

            &-40{
                &:first-of-type{
                    right: calc($distance - $jumps * 3);
                }

                &:last-of-type{
                    left: calc($distance - $jumps * 3);
                }
            }

            &-20{
                &:first-of-type{
                    right: calc($distance - $jumps * 4);
                }

                &:last-of-type{
                    left: calc($distance - $jumps * 4);
                }
            }

            &-0{
                &:first-of-type{
                    right: calc($distance - $jumps * 5);
                }

                &:last-of-type{
                    left: calc($distance - $jumps * 5);
                }
            }
        }

        img{
            width: 25vw;
            max-width: 480px;
            min-width: 240px;
            height: auto; 
        }
    }
}