@import "../_global-var";
@import "../_keyframes";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.big-box{
    width: $full-side-width;
    height: $full-side-height;

    background-color: $default-background;
}

.content-container{
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 1300px){
    #nav-bar{
        width: 580px;
    }

    #landingpage{
        #text-container{
            h1{
                font-size: 75px;
                font-size: 4vw;
            }
    
            h2{
                font-size: 60px;
                font-size: 3.1vw;
            }
    
            h3{
                font-size: 50px;
                font-size: 2.6vw;
            }
    
            h4{
                font-size: 32px;
                font-size: 1.68vw;
            }
        }    
    
        #personal-img-container{
            $picture-width: min(68%,650px);
            width: $picture-width;
            padding: calc($picture-width / 2) 0;
    
        }
    }
}

header{
    position: absolute;
    right: 90px;
    top: 50px;
    z-index: 100;

    #nav-bar{
        
        
        display: flex;
        justify-content: space-between;
        a{
            padding: 10px 25px;

            font-weight: bolder;
            font-size: 23px;
            cursor: pointer;

            &:last-of-type{
                border: solid;
                border-radius: 50px;
                
                &:hover{
                    background-color: aliceblue;
                }
            }
        }
    }
}


#landingpage{
    $landingpage-min-height: 660px;

    z-index: 3;
    display: flex;
    overflow-x: hidden;
    position: relative;
    min-height: $landingpage-min-height;

    
    
    section{
        z-index: 4;
        width: 50%;
        display: flex;
        
        align-items: center;
        justify-content: center;


        #text-container{
            display: grid;
            grid-template-rows: 1fr;

            justify-content: center;

            h1{
                font-weight: bolder;
                margin-left: 2%;
            }

            #inner{
                display: flex;

                #rotated{
                    width: 12%;
                    h2{
                        text-align: center;
                        transform: rotate(-90deg);
                        margin-top: 38%;
                    }
                }

                #name{
                    margin-top: -0.5%;
                    h3{

                    }

                    h4{
                        font-weight: lighter;
                        margin-top: -0.5%;
                    }
                }
            }
        }
    }
    
    aside{
        z-index: 4;
        width: 50%;
        display: flex;
        
        align-items: center;
        justify-content: center;

        #personal-img-container{            
            background-color: white;
            border: 10px solid black;
            border-radius: 50%;

            /* $picture-width: 70%;
            width: $picture-width;
            padding: calc($picture-width / 2) 0; */
            height:0;            

            margin-left: 8vw;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            img{
                height: auto;
                width: 65%;

                position: absolute;
                bottom: 0;
            }
        }
    }

    #line{
        left: 0;
        top: 10%;

        width: 100vw;
        height: 85vh;
        min-height: $landingpage-min-height - 234;
        
        position: absolute;
        z-index: 2;
    }
    
}